In [5]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [6]:
data=pd.read_csv('ted.csv')

In [7]:
data.head(2)

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,1140825600,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...","[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",Author/educator,"['children', 'creativity', 'culture', 'dance',...",Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,1140825600,43,Al Gore,Al Gore: Averting the climate crisis,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 544}, {'i...","[{'id': 243, 'hero': 'https://pe.tedcdn.com/im...",Climate advocate,"['alternative energy', 'cars', 'climate change...",Averting the climate crisis,https://www.ted.com/talks/al_gore_on_averting_...,3200520

In [8]:
data.index

RangeIndex(start=0, stop=2550, step=1)

In [9]:
data.dtypes

comments               int64
description           object
duration               int64
event                 object
film_date              int64
languages              int64
main_speaker          object
name                  object
num_speaker            int64
published_date         int64
ratings               object
related_talks         object
speaker_occupation    object
tags                  object
title                 object
url                   object
views                  int64
dtype: object

In [10]:
data.columns

Index(['comments', 'description', 'duration', 'event', 'film_date',
       'languages', 'main_speaker', 'name', 'num_speaker', 'published_date',
       'ratings', 'related_talks', 'speaker_occupation', 'tags', 'title',
       'url', 'views'],
      dtype='object')

In [11]:
data.shape

(2550, 17)

In [12]:
data.ndim

2

In [13]:
data.duration.value_counts(dropna=False).sort_index().tail()

3573    1
3608    1
3955    1
4587    1
5256    1
Name: duration, dtype: int64

In [14]:
data.dropna('columns',how='all').shape

(2550, 17)

# loc is for selecting things bys labels

In [15]:
data.loc[0,:]

comments                                                           4553
description           Sir Ken Robinson makes an entertaining and pro...
duration                                                           1164
event                                                           TED2006
film_date                                                    1140825600
languages                                                            60
main_speaker                                               Ken Robinson
name                          Ken Robinson: Do schools kill creativity?
num_speaker                                                           1
published_date                                               1151367060
ratings               [{'id': 7, 'name': 'Funny', 'count': 19645}, {...
related_talks         [{'id': 865, 'hero': 'https://pe.tedcdn.com/im...
speaker_occupation                                      Author/educator
tags                  ['children', 'creativity', 'culture', 'dance',...
title                                       Do schools kill creativity?
url                   https://www.ted.com/talks/ken_robinson_says_sc...
views                                                          47227110
Name: 0, dtype: object

In [16]:
data.loc[0:2,:]

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,1140825600,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...","[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",Author/educator,"['children', 'creativity', 'culture', 'dance',...",Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,1140825600,43,Al Gore,Al Gore: Averting the climate crisis,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 544}, {'i...","[{'id': 243, 'hero': 'https://pe.tedcdn.com/im...",Climate advocate,"['alternative energy', 'cars', 'climate change...",Averting the climate crisis,https://www.ted.com/talks/al_gore_on_averting_...,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,1140739200,26,David Pogue,David Pogue: Simplicity sells,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 964}, {'i...","[{'id': 1725, 'hero': 'https://pe.tedcdn.com/i...",Technology columnist,"['computers', 'entertainment', 'interface desi...",Simplicity sells,https://www.ted.com/talks/david_pogue_says_sim...,1636292

In [17]:
data.loc[:,['event','film_date']].tail(3)

             event   film_date
2547       TED2017  1492992000
2548  TEDxMileHigh  1499472000
2549       TED2017  1492992000

In [18]:
data.loc[:,'event':'name']

,event,film_date,languages,main_speaker,name
0,TED2006,1140825600,60,Ken Robinson,Ken Robinson: Do schools kill creativity?
1,TED2006,1140825600,43,Al Gore,Al Gore: Averting the climate crisis
2,TED2006,1140739200,26,David Pogue,David Pogue: Simplicity sells
3,TED2006,1140912000,35,Majora Carter,Majora Carter: Greening the ghetto
4,TED2006,1140566400,48,Hans Rosling,Hans Rosling: The best stats you've ever seen
5,TED2006,1138838400,36,Tony Robbins,Tony Robbins: Why we do what we do
6,TED2006,1140739200,31,Julia Sweeney,Julia Sweeney: Letting go of God
7,TED2006,1140652800,19,Joshua Prince-Ramus,Joshua Prince-Ramus: Behind the design of Seat...
8,TED2006,1138838400,32,Dan Dennett,Dan Dennett: Let's teach religion -- all relig...
9,TED2006,1140825600,31,Rick Warren,Rick Warren: A life of purpose
10,TED2006,1140912000,27,Cameron Sinclair,Cameron Sinclair: My wish: A call for open-sou...
11,TED2006,1140912000,20,Jehane Noujaim,Jehane Noujaim: My wish: A global day of film
12,TED2006,1140652800,24,Larry Brilliant,Larry Brilliant: My wish: Help me stop pandemics
13,TED2006,1139184000,27,Jeff Han,Jeff Han: The radical promise of the multi-tou...
14,TED2006,1140652800,25,Nicholas Negroponte,Nicholas Negroponte: One Laptop per Child
15,TED2006,1140652800,31,Sirena Huang,Sirena Huang: An 11-year-old's magical violin
16,TED2004,1077753600,32,Jennifer Lin,"Jennifer Lin: Improvising on piano, aged 14"
17,TED2006,1140739200,27,Amy Smith,Amy Smith: Simple designs to save a life
18,TED2005,1109289600,22,Ross Lovegrove,"Ross Lovegrove: Organic design, inspired by na..."
19,TEDGlobal 2005,1121299200,32,Jimmy Wales,Jimmy Wales: The birth of Wikipedia
20,TED2006,1140652800,27,Richard Baraniuk,Richard Baraniuk: The birth of the open-source...
21,TED2004,1077580800,26,Ze Frank,Ze Frank: Nerdcore comedy
22,TED2006,1140652800,20,Mena Trott,Mena Trott: Meet the founder of the blog revol...
23,TED2006,1140739200,33,Helen Fisher,"Helen Fisher: Why we love, why we cheat"
24,TED2004,1075852800,23,Eve Ensler,Eve Ensler: Happiness in body and soul
25,TEDGlobal 2005,1121299200,29,David Deutsch,David Deutsch: Chemical scum that dream of dis...
26,TEDGlobal 2005,1120694400,36,Richard Dawkins,Richard Dawkins: Why the universe seems so str...
27,TED2004,1077840000,25,Steven Levitt,Steven Levitt: The freakonomics of crack dealing
28,TED2004,1077753600,37,Malcolm Gladwell,"Malcolm Gladwell: Choice, happiness and spaghe..."
29,TED2004,1075680000,43,Dan Gilbert,Dan Gilbert: The surprising science of happiness
...,...,...,...,...,...
2520,TED2017,1492992000,2,Robin Hanson,Robin Hanson: What would happen if we upload o...
2521,TEDxStanford,1461456000,7,Carolyn Bertozzi,Carolyn Bertozzi: What the sugar coating on yo...
2522,TED2017,1492992000,5,Laolu Senbanjo,"Laolu Senbanjo: ""The Sacred Art of the Ori"""
2523,TEDxCrenshaw,1475884800,3,Niki Okuk,"Niki Okuk: When workers own companies, the eco..."
2524,TED2017,1492992000,12,Wanuri Kahiu,"Wanuri Kahiu: Fun, fierce and fantastical Afri..."
2525,TEDxSydney,1464048000,5,Tara Winkler,Tara Winkler: Why we need to end the era of or...
2526,TED2017,1492992000,6,Noriko Arai,Noriko Arai: Can a robot pass a university ent...
2527,TEDxStanford,1492905600,3,Jennifer Granick,Jennifer Granick: How the US government spies ...
2528,TEDxHamburg,1465344000,5,Chance Coughenour,Chance Coughenour: How your pictures can help ...
2529,TEDxExeter,1429833600,1,Chetan Bhatt,Chetan Bhatt: Dare to refuse the origin myths ...
2530,TED2017,1492992000,3,Daan Roosegaarde,Daan Roosegaarde: A smog vacuum cleaner and ot...
2531,TEDxGhent,1466208000,1,Erin Marie Saltman,Erin Marie Saltman: How young people join viol...
2532,TED2017,1492992000,2,Ray Dalio,Ray Dalio: How to build a company where the be...
2533,TED2017,1492992000,2,Tomás Saraceno,Tomás Saraceno: Would you live in a floating ...
2534,TEDxSkoll,1491523200,1,Benjamin Grant,Benjamin Grant: What it feels like to see Eart...
2535,TEDGlobal 2017,1503792000,4,OluTimehin Adegbeye,OluTimehin Adegbeye: Who belongs in a city?
2536,TEDxMileHigh,1499472000,5,Caitlin Quattromani and Lauran Arledge,Caitlin Quattromani and Lauran Arledge: How ou...
2537,TED2017,1492992000,2,Emily Esfahani Smith,Emily Esfahani Smith: There's more to life tha...
2538,TEDxZurich,1478822400,1,Alexander Wagner,Alexander Wagner: What really motivates people...
2539,TED2017,1503792000,2,Pierre Thiam,Pierre Thiam: A forgotten ancient grain that c...
2540,TED@UPS,1500508800,4,Augie Picado,Augie Picado: The real reason manufacturing jo...
2541,TEDxManchester,1487462400,2,Helen Czerski,Helen Czerski: The fascinating physics of ever...
2542,TEDGlobal 2017,1503792000,1,Sethembile Msezane,Sethembile Msezane: Living sculptures that sta...
2543,TED2017,1492992000,1,Jun Wang,Jun Wang: How digital DNA could help you make ...
2544,TEDGlobal 2017,1503792000,1,Olúfẹ́mi Táíwò,Olúfẹ́mi Táíwò: Why Africa must become a ...
2545,TED2017,1496707200,4,Duarte Geraldino,Duarte Geraldino: What we're missing in the de...
2546,TED2017,1492992000,3,Armando Azua-Bustos,Armando Azua-Bustos: The most Martian place on...
2547,TED2017,1492992000,1,Radhika Nagpal,Radhika Nagpal: What intelligent machines can ...
2548,TEDxMileHigh,1499472000,1,Theo E.J. Wilson,Theo E.J. Wilson: A black man goes undercover ...
2549,TED2017,1492992000,1,Karoliina Korppoo,Karoliina Korppoo: How a video game might help...

In [19]:
data[data.film_date==1140825600].event

0    TED2006
1    TED2006
9    TED2006
Name: event, dtype: object

In [20]:
data.loc[data.film_date==1140825600,'event']

0    TED2006
1    TED2006
9    TED2006
Name: event, dtype: object

# use of iloc

In [21]:
data.iloc[0:3,0:2]

   comments                                        description
0      4553  Sir Ken Robinson makes an entertaining and pro...
1       265  With the same humor and humanity he exuded in ...
2       124  New York Times columnist David Pogue takes aim...

In [22]:
data.iloc[0:2,0:8]

,comments,description,duration,event,film_date,languages,main_speaker,name
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,1140825600,60,Ken Robinson,Ken Robinson: Do schools kill creativity?
1,265,With the same humor and humanity he exuded in ...,977,TED2006,1140825600,43,Al Gore,Al Gore: Averting the climate crisis

In [23]:
drinks=pd.read_csv('http://bit.ly/drinksbycountry',index_col='country')
drinks.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0,0,0,0.0,Asia
Albania,89,132,54,4.9,Europe
Algeria,25,0,14,0.7,Africa
Andorra,245,138,312,12.4,Europe
Angola,217,57,45,5.9,Africa

In [47]:
drinks.ix['Albania':'Andorra',0:3]

C:\Users\Public\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

         beer_servings  spirit_servings  wine_servings
country
Albania             89              132             54
Algeria             25                0             14
Andorra            245              138            312

In [24]:
drinks.ix['Albania',0]

C:\Users\Maad_Saifuddin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

89

In [34]:
drinks.groupby('continent').beer_servings.mean()

continent
Africa            61.471698
Asia              37.045455
Europe           193.777778
North America    145.434783
Oceania           89.687500
South America    175.083333
Name: beer_servings, dtype: float64